<h1>Log in</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email] %>	
	</div>
	<div class="field">
		<%= label_tag :password %>
		<%= password_field_tag :password %>	
	</div>
		
	<div class="actions"><%= submit_tag %></div>
<% end %>
