<!DOCTYPE html>
<html>
<head>
  <title>ACM@UCSB</title>
  <%= stylesheet_link_tag 'application' %>
  <%# javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="container">
		<div id="header"></div>
		<div id="content">
			<h1><%= link_to 'ACM@UCSB', root_path %></h1>
			<ul>
				<li><%= link_to 'News', '' %></li>
				<li><%= link_to 'Resources', '' %></li>
				<li><%= link_to 'Forum (feed the tr0llz)', '' %></li>
				<li><%= link_to 'Contact Us', contact_path %></li>
				<li><%= link_to 'Sitemap', '/sitemap.txt' %></li>
			</ul>
			
			<%= yield %>
		</div>
		<div id="footer"></div>
	</div>

</body>
</html>
